/* assets/css/themes.css */

/* Estilos para o tema claro (aplicados ao body padrão) */
body {
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
}

.input-group input {
    background-color: var(--light-input-bg);
    color: var(--light-text-color); /* Garante que o texto digitado seja visível */
}

.input-group input::placeholder {
    color: var(--light-input-placeholder-color);
}

.btn-enter {
    background-color: var(--light-button-bg);
    color: var(--light-button-text-color);
}

.btn-enter:hover {
    background-color: #555;
}

.forgot-password {
    color: var(--light-link-color);
}

/* Estilos para o toggle switch no tema claro */
.toggle-checkbox:checked + .toggle-label {
    background-color: var(--light-toggle-label-bg); /* Manter o fundo claro quando ativo no tema claro */
    border: 1px solid var(--light-toggle-label-bg);
}
.toggle-checkbox:checked + .toggle-label:after {
    background-color: var(--light-toggle-dot-bg);
}


/* Estilos para o tema escuro (aplicados quando body tem a classe .dark-theme) */
body.dark-theme {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

body.dark-theme .logo-text {
    color: var(--dark-text-color); /* Sobrescreve a cor com a do tema escuro */
}

body.dark-theme .logo img {
     filter: invert(1); /* Inverte as cores da logo para branco */
}

body.dark-theme .bg-waiter {
    filter: invert(1); /* Inverte as cores da imagem de fundo */
    opacity: 0.1; /* Ajusta a opacidade para o tema escuro */
}

body.dark-theme .input-group input {
    background-color: var(--dark-input-bg);
    color: var(--dark-input-placeholder-color); /* Mude para a cor do placeholder, que é escura */
    opacity: 1;
}

body.dark-theme .input-group input::placeholder {
    color: var(--dark-input-placeholder-color);
}

body.dark-theme .btn-enter {
    background-color: var(--dark-button-bg);
    color: var(--dark-button-text-color);
}

body.dark-theme .btn-enter:hover {
    background-color: #666;
}

body.dark-theme .forgot-password {
    color: var(--dark-link-color);
}

/* Estilos para o toggle switch no tema escuro */
body.dark-theme .toggle-label {
    background-color: var(--dark-toggle-label-bg);
    border: 1px solid var(--dark-toggle-dot-bg);
}

body.dark-theme .toggle-label:after {
    background-color: var(--dark-toggle-dot-bg);
}

body.dark-theme .toggle-checkbox:checked + .toggle-label {
    background-color: var(--dark-toggle-label-bg); /* Manter o fundo escuro quando ativo no tema escuro */
    border: 1px solid var(--dark-toggle-dot-bg);
}

body.dark-theme .toggle-checkbox:checked + .toggle-label:after {
    background-color: var(--dark-text-color); /* Pino do toggle branco no tema escuro ativado */
}
/* Adicione estas regras para o botão "Sair" no tema escuro */
body.dark-theme .logout-button {
    background: #e0e0e0; /* Fundo cinza claro */
    color: #424242; /* Texto cinza escuro */
}

body.dark-theme .logout-button:hover {
    background-color: #d4d4d4; /* Cor de hover mais escura */
    color: #333; /* Texto mais escuro no hover */
}

body.dark-theme .menu-dots-button {
  color: var(--dark-text-color); /* Light color for dark theme */
}

/* Media Query específica para login.css, se houver necessidade de sobrescrever */
/* @media screen and (max-width: 600px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }
    .logo img {
        width: 120px;
    }
    .logo-text {
        font-size: 20px;
    }
    .input-group input {
        font-size: 14px;
    }
}
*/